




*{
    margin:0;
    padding: 0;
    font-family: Century Gothic;
}

header{
    background-image: url('https://pbs.twimg.com/media/D7Er3BoVsAAuP1X.jpg');
  background-repeat: no-repeat;
    background: orange;
    height: 100vh;
    background-size: cover;
    background-position: center;
}

ul{
    float: right;
    list-style-type: none;
    margin-top: 50px;
}

ul li{
    display: inline-block;
}

ul li a{
    text-decoration: none;
    color:black;
    padding:7px 20px;
    border:2px solid transparent;
    transition: 0.6s ease;
}

ul li a:hover{
    background-color: #fff;
    color:#000;
}

ul li.active a{
    background-color: #fff;
    color:#000;
}

.logo:hover{
    background-color: white;
}
.logo img{
    float:left;
    width: 120px;
    height:none;
    margin-top: 25px;
}

.main{
    max-width: 1200px;
    margin: auto;
}

.title{
    color: black;
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
}

.title h1{
    color: black
    
}


.button{
    position: absolute;
    top:62%;
    left:50%;
    transform:translate(-50%,-50%);
}

.btn{
    border:1px solid transparent;
    padding:10px 30px;
    color:black;
    text-decoration: none;
    transition: 0.6s ease;
}

.btn:hover{
    background-color: #fff;
    color:#000;
}

.nav {
    text-align: right;
    height: 2px;
    
}
.btn1{
    border:1px solid transparent;
    padding:10px 30px;
    color:black;
    text-decoration: none;
    transition: 0.6s ease;
}

.btn1:hover{
    background-color: black;
    color:white;
}

.row{
    background: #888;
    min-width:50px;
    padding:120px 100px 200px 100px;
}

.grid,
.col-1-3,
.col-2-3 {
    padding-left: 150px;
    padding-right: 150px;
}

.col-2-3{
    width:66.66%;
}

.col-2-3 {
    width: 33.33%;
    display: inline-block;
    vertical-align: bottom;
}

.contact-section{
    background: url(aqua.png) no-repeat center;
    background-size: cover;
    padding: 40px 0;
}

.contact-section h1{
    text-align: center;
    color: black;

}

.border{
    width: 100px;
    height: 10px;
    background: #344555;
    margin: 40px auto;
}

.contact-form{
    max-width: 600px;
    margin: auto;
    padding:0 10px;
    overflow: hidden;
}

.contact-form-text{
    display: block;
    width: 100%;
    box-sizing: border-box;
    margin: 16px 0;
    border: 0;
    background: #111;
    padding: 20px 40px;
    outline: none;
    color:#ddd;
    transition: 0.5s;
}

.contact-form-text:focus{
    box-shadow: 0 0 10px 4px burlywood;
}

textarea.contact-form-text{
    resize: none;
    height: 120px;
}

.contact-form-btn{
    float: right;
    border: 0;
    background: #34495e;
    color: #fff;
    padding: 12px 50px;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.5s;
}

.contact-form-btn:hover{
    background: #2980b9;

}

.bg{
     background-color:orange;
}

.team-section{
    overflow: hidden;
    text-align: center;
    background: aqua;
    padding: 60px;
}

.team-section h1{
    text-transform: uppercase;
    margin-bottom: 60px;
    color: white;
    font-size: 40px;
}

.border1{
    display: block;
    margin: auto;
    width: 160px;
    height: 3px;
    background: #3498db;
    margin-bottom: 40px;
}

.ps{
    margin-bottom: 40px;
}

.ps a{
    display: inline-block;
    margin: 0 30px;
    width: 160px;
    height: 160px;
    overflow: hidden;
    border-radius: 50%;
}

.ps a img{
    width: 100%;
    filter: grayscale(100%);
    transition: 0.4s all;
}

.ps a:hover > img{
    filter: none;
}
 
.section{
    width: 600px;
    margin: auto;
    font-size: 20px;
    color: black;
    text-align: justify;
    height: 0;
    overflow: hidden;
    
}

.section:target{
    height:auto;
}

.name{
    display: block;
    margin-bottom: 30px;
    text-align: center;
    text-transform: uppercase;
    font-size: 22px;
}